.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    max-width: 50%;
}

.container h1 {
    font-size: 1.8em;
    margin: 84px 0px 24px;   
}

.container input {
    width: 100%;
    padding: 24px;
    background-color: #e6e6e6;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.container button {
    width: 100%;
    border: none;
    outline: none;
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    background: #ea4c89;
    color: white;
    border-radius: 5px;
    margin: 12px 0 84px;
    transition: filter 0.2s;
    cursor: pointer;
}

.container button:hover {
    filter: brightness(0.9);
}