.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    max-width: 50%;
}

.container header {
    width: 100%;
    margin: 84px 0px 24px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.container header h1 {
    font-size: 1.8em;
    flex: 2;
}

.container .avatar {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}



.container input {
    width: 100%;
    padding: 24px;
    background-color: #e6e6e6;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.container button {
    width: 100%;
    border: none;
    outline: none;
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    background: #ea4c89;
    color: white;
    border-radius: 5px;
    margin: 12px 0 84px;
    transition: filter 0.2s;
    cursor: pointer;
}

.container button:hover {
    filter: brightness(0.9);
}